{% extends 'main.html' %}

{% block content %}
    <h2>Tickets</h2>
    {% if tickets %}
        <table>
            <tr>
                <th>Last updated</th>
                <th>Title</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Submitted by</th>
                <th>Assigned to</th>
                <th>View</th>
            </tr>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.updated_at }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.priority }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.submitted_by }}</td>
                    <td>{{ ticket.assigned_to }}</td>
                    <td><a href="{% url 'view-ticket' ticket.id %}">View</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        There are currently no tickets in the system - click 'log new ticket' to get started.
    {% endif %}
{% endblock %}
