{% extends 'main.html' %}

{% block content %}
    <h2>#{{ ticket.id }} - {{ ticket.title }}</h2>
    <h4>Status: <a href="{% url 'change-ticket-status' ticket.id %}">{{ ticket.status }}</a></h4>
    <div>{{ ticket.description }}</div>
    <br />
    <div>Reported by: {{ ticket.submitted_by }}</div>
    <div>Assigned to: <a href="{% url 'change-assignment' ticket.id %}">{{ ticket.assigned_to }}</a></div>
    <div>Submitted on: {{ ticket.created_at }}</div>
    <div>Last updated: {{ ticket.updated_at }}</div>
{% endblock %}
