{% extends 'main.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '../main.css' %}" />

{% block content %}
        <h2>Log in</h2>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            
            <div class="login-form">
                <span>Username: {{ form.username }}</span> <br />
                <span>Password: {{ form.password }}</span><br />

                <input type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
{% endblock %}
